canvas {
    touch-action: none;
}

#components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(88, 17, 255, 0.3);
}
  
.ant-row-rtl #components-layout-demo-top-side .logo {
float: right;
margin: 16px 0 16px 24px;
}

.site-layout-background {
background: #001529;
}

.canvasItemsIcon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
}

.canvasItem {
    padding: 5px;
}

.selectedColor{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    transform: scale(1.1);
}

.selectableColor {
    transition: all 0.3s;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.selectableColor:hover {
    transform: scale(1.1);
    opacity: 1;
}